.vertical-line {
    width: 2px;
    height: 100%;
    background-color: #ccc;
  }

  .border-right-project-details{
    border-right: 1px solid #000;
  }

  .horizontal-gallery-wrapper {
    scroll-snap-type: x mandatory;
  }
  
  .horizontal-gallery-wrapper img {
    scroll-snap-align: start;
  }

  
  /* testi */
  .testimonial-section {
    background-color: #fff;
    border-radius: 12px;
  }
  
  @media (max-width: 768px) {
    .testimonial-section {
      padding: 2rem 1rem;
    }
  
    .testimonial-section .bg-dark {
      align-items: center !important;
      text-align: center;
    }
  }

  
  /* set imgs as a ratio */
  .projectdetails_beforeimg{
    width: 100%;
    aspect-ratio: 1428 / 803;
    /* object-fit: cover; */
    border-radius: 12px;
    display: block;
  }

  .projectdetails_askimg{
    width: 100%;
    aspect-ratio: 1389 / 758;
    /* object-fit: cover; */
    border-radius: 12px;
    display: block;
  }

  .projectdetails_resultimg{
    width: 100%;
    aspect-ratio: 1428 / 803;
    /* object-fit: cover; */
    border-radius: 12px;
    display: block;
  }

  .projectdetails_testimonial_logoimg{
    width: 100%;
    aspect-ratio: 504 / 788;
    /* object-fit: cover; */
    display: block;
  }

  .projectdetails_testimonialimg{
    width: 100%;
    aspect-ratio: 504 / 394;
    /* object-fit: cover; */
    display: block;
  }

  .read-more-project-details:focus{
    box-shadow: none;
  }
  

  .horizontal-gallery-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    gap: 0px; /* Adds gap between images */
    padding-bottom: 1rem;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; /* Optional: rounded corners for images */
  }
  
  